# Create a balanced sample set

In [2]:
import pandas as pd

In [3]:
path = '/Users/reneehall/Documents/Learning/lighthouse_labs/coursework-lighthouse-labs/Mid-term project/colab_data/'

In [4]:
data1 = pd.read_csv(path+'flights_data1.csv')
data2 = pd.read_csv(path+'flights_data2.csv')
data3 = pd.read_csv(path+'flights_data3.csv')
data4 = pd.read_csv(path+'flights_data4.csv')

/Users/reneehall/opt/anaconda3/envs/lighthouse/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
flights_data = pd.merge(data1, data2, left_index=True, right_index=True)

flights_data = pd.merge(flights_data, data3, left_index=True, right_index=True)

flights_data = pd.merge(flights_data, data4, left_index=True, right_index=True)

In [6]:
flights_data.shape

(15927485, 41)

In [7]:
flights_class_0 = flights_data.loc[flights_data['arr_delay'] <= 0.0]

In [8]:
flights_class_1 = flights_data.loc[flights_data['arr_delay'] > 0.0]

In [9]:
class_0_sample = flights_class_0.sample(300000, random_state=27)

In [10]:
class_1_sample = flights_class_1.sample(300000, random_state=27)

In [11]:
final_sample = class_0_sample.append(class_1_sample)

In [64]:
from sklearn.utils import shuffle

sample_shuffled = shuffle(final_sample)

In [23]:
sample_shuffled.to_csv(path+'balanced_sample.csv', index=False)

In [24]:
sample_shuffled[sample_shuffled['arr_delay'] > 0.0].flights.count()

300000

In [26]:
sample_shuffled.shape

(600000, 41)

In [29]:
# missing data for flights_sample
total = sample_shuffled.isnull().sum().sort_values(ascending=False)
percent = (sample_shuffled.isnull().sum()/sample_shuffled.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(15)

                      Total   Percent
longest_add_gtime    595902  0.993170
total_add_gtime      595902  0.993170
first_dep_time       595770  0.992950
cancellation_code    589907  0.983178
late_aircraft_delay  487055  0.811758
security_delay       486834  0.811390
nas_delay            486834  0.811390
weather_delay        486458  0.810763
carrier_delay        486458  0.810763
air_time              11977  0.019962
actual_elapsed_time   11736  0.019560
taxi_in               10648  0.017747
wheels_on             10508  0.017513
taxi_out              10283  0.017138
wheels_off            10218  0.017030

In [65]:
cat_cols = sample_shuffled.select_dtypes(include='object')

In [66]:
(cat_cols.isnull().sum()/cat_cols.isnull().count()).sort_values(ascending=False)

cancellation_code     0.983178
tail_num              0.003088
dup                   0.000000
dest_city_name        0.000000
dest                  0.000000
origin_city_name      0.000000
origin                0.000000
op_unique_carrier     0.000000
mkt_carrier           0.000000
branded_code_share    0.000000
mkt_unique_carrier    0.000000
fl_date               0.000000
dtype: float64

In [67]:
cat_cols.columns.tolist()
var_cols = sample_shuffled.drop(labels=cat_cols.columns.tolist(), axis=1)
(var_cols.isnull().sum()/var_cols.isnull().count()).sort_values(ascending=False)

longest_add_gtime      0.993170
total_add_gtime        0.993170
first_dep_time         0.992950
late_aircraft_delay    0.811758
security_delay         0.811390
nas_delay              0.811390
weather_delay          0.810763
carrier_delay          0.810763
air_time               0.019962
actual_elapsed_time    0.019560
taxi_in                0.017747
wheels_on              0.017513
taxi_out               0.017138
wheels_off             0.017030
dep_delay              0.016523
dep_time               0.016225
crs_elapsed_time       0.000002
origin_airport_id      0.000000
dest_airport_id        0.000000
op_carrier_fl_num      0.000000
crs_dep_time           0.000000
cancelled              0.000000
crs_arr_time           0.000000
arr_time               0.000000
arr_delay              0.000000
diverted               0.000000
flights                0.000000
distance               0.000000
mkt_carrier_fl_num     0.000000
dtype: float64

In [68]:
# replace tail_num NaN's with 'tail_num_unknown'
sample_shuffled['tail_num'] = sample_shuffled['tail_num'].fillna('tail_num_unknown')

In [69]:
# replace null values with mean
to_mean = ['air_time','arr_delay','actual_elapsed_time','taxi_in','wheels_on','wheels_off','arr_time','taxi_out','dep_delay','dep_time','crs_elapsed_time']

In [43]:
sample_df2 = sample_shuffled

In [70]:
for col in to_mean:
    sample_shuffled[col] = sample_shuffled[col].fillna(sample_shuffled[col].mean())

In [71]:
(sample_shuffled.isnull().sum()/sample_shuffled.isnull().count()).sort_values(ascending=False).head(20)

longest_add_gtime      0.993170
total_add_gtime        0.993170
first_dep_time         0.992950
cancellation_code      0.983178
late_aircraft_delay    0.811758
security_delay         0.811390
nas_delay              0.811390
weather_delay          0.810763
carrier_delay          0.810763
dest_city_name         0.000000
dest                   0.000000
dest_airport_id        0.000000
origin_city_name       0.000000
origin                 0.000000
origin_airport_id      0.000000
op_unique_carrier      0.000000
op_carrier_fl_num      0.000000
tail_num               0.000000
dep_time               0.000000
mkt_carrier_fl_num     0.000000
dtype: float64

In [46]:
sample_shuffled.to_csv(path+'cleaned_balanced_sample.csv', index=False)

In [47]:
sample_shuffled.dtypes

fl_date                 object
mkt_unique_carrier      object
branded_code_share      object
mkt_carrier             object
mkt_carrier_fl_num       int64
op_unique_carrier       object
tail_num                object
op_carrier_fl_num        int64
origin_airport_id        int64
origin                  object
origin_city_name        object
dest_airport_id          int64
dest                    object
dest_city_name          object
crs_dep_time             int64
dep_time               float64
dep_delay              float64
taxi_out               float64
wheels_off             float64
wheels_on              float64
taxi_in                float64
crs_arr_time             int64
arr_time               float64
arr_delay              float64
cancelled              float64
cancellation_code       object
diverted               float64
dup                     object
crs_elapsed_time       float64
actual_elapsed_time    float64
air_time               float64
flights                float64
distance               float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
first_dep_time         float64
total_add_gtime        float64
longest_add_gtime      float64
dtype: object

In [72]:
sample_shuffled.drop(labels=['longest_add_gtime','total_add_gtime','first_dep_time','cancellation_code','late_aircraft_delay','security_delay','nas_delay','weather_delay','carrier_delay'], axis=1, inplace=True)
(sample_shuffled.isnull().sum()/sample_shuffled.isnull().count()).sort_values(ascending=False).head()

distance              0.0
flights               0.0
mkt_unique_carrier    0.0
branded_code_share    0.0
mkt_carrier           0.0
dtype: float64

In [73]:
sample_shuffled.select_dtypes('object').columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'op_unique_carrier', 'tail_num', 'origin', 'origin_city_name', 'dest',
       'dest_city_name', 'dup'],
      dtype='object')

In [52]:
sample_shuffled.dup.unique()

array(['N'], dtype=object)

In [74]:
sample_shuffled.drop(labels='dup', axis=1, inplace=True)

In [55]:
sample_shuffled.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance'],
      dtype='object')

In [56]:
sample_shuffled.cancelled.unique()

array([0., 1.])

In [57]:
sample_shuffled.diverted.unique()

array([0., 1.])

In [75]:
sample_shuffled['cancelled'] = sample_shuffled.cancelled.astype('category')
sample_shuffled['diverted'] = sample_shuffled.diverted.astype('category')

In [59]:
sample_shuffled.dtypes

fl_date                  object
mkt_unique_carrier       object
branded_code_share       object
mkt_carrier              object
mkt_carrier_fl_num        int64
op_unique_carrier        object
tail_num                 object
op_carrier_fl_num         int64
origin_airport_id         int64
origin                   object
origin_city_name         object
dest_airport_id           int64
dest                     object
dest_city_name           object
crs_dep_time              int64
dep_time                float64
dep_delay               float64
taxi_out                float64
wheels_off              float64
wheels_on               float64
taxi_in                 float64
crs_arr_time              int64
arr_time                float64
arr_delay               float64
cancelled              category
diverted               category
crs_elapsed_time        float64
actual_elapsed_time     float64
air_time                float64
flights                 float64
distance                float64
dtype: object

In [79]:
sample_shuffled.select_dtypes('object').columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'op_unique_carrier', 'tail_num', 'origin', 'origin_city_name', 'dest',
       'dest_city_name'],
      dtype='object')

In [80]:
# encode object vars
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

cat_vars = ['mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'op_unique_carrier', 'tail_num', 'origin', 'origin_city_name', 'dest',
       'dest_city_name']
for col in cat_vars:
    sample_shuffled[col] = label_encoder.fit_transform(sample_shuffled[col])

In [81]:
sample_shuffled.dtypes

fl_date                  object
mkt_unique_carrier        int64
branded_code_share        int64
mkt_carrier               int64
mkt_carrier_fl_num        int64
op_unique_carrier         int64
tail_num                  int64
op_carrier_fl_num         int64
origin_airport_id         int64
origin                    int64
origin_city_name          int64
dest_airport_id           int64
dest                      int64
dest_city_name            int64
crs_dep_time              int64
dep_time                float64
dep_delay               float64
taxi_out                float64
wheels_off              float64
wheels_on               float64
taxi_in                 float64
crs_arr_time              int64
arr_time                float64
arr_delay               float64
cancelled              category
diverted               category
crs_elapsed_time        float64
actual_elapsed_time     float64
air_time                float64
flights                 float64
distance                float64
dtype: object

In [82]:
sample_shuffled.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_arr_time,arr_time,arr_delay,cancelled,diverted,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance
13157014,2018-04-05,3,15,10,136,24,5787,2617,14057,267,...,1655,735.0,-10.0,0.0,0.0,249.0,64.0,50.0,1.0,198.0
622981,2019-07-05,8,2,1,3833,16,2259,2256,12889,194,...,559,2206.0,352.0,0.0,0.0,160.0,169.0,149.0,1.0,1013.0
12518624,2018-09-06,0,15,10,3792,19,1558,1362,11057,74,...,1445,948.0,13.0,0.0,0.0,195.0,144.0,125.0,1.0,641.0
3038437,2019-10-22,10,15,10,2045,24,5746,676,12266,169,...,1638,538.0,35.0,0.0,0.0,93.0,121.0,104.0,1.0,533.0
15055897,2019-05-30,8,15,10,715,2,2284,613,13204,219,...,1150,2115.0,10.0,0.0,0.0,166.0,123.0,95.0,1.0,1592.0

In [83]:
sample_shuffled.to_csv(path+'encoded_balanced_sample.csv', index=False)