## Feature Engineering

In [2]:
import pandas as pd

In [7]:
# load data
# bring in data
path = '/Users/reneehall/Documents/Learning/lighthouse_labs/coursework-lighthouse-labs/Mid-term project/colab_data/'
fl_df = pd.read_csv(path+'balanced_more_flight_feats.csv')

In [115]:
fl_df.shape

(446299, 59)

In [137]:
# choose smaller dataset for ease of work

sm_df = fl_df.sample(50000, random_state=26)

In [138]:
sm_df.shape

(50000, 60)

In [50]:
sm_df.loc[sm_df['arr_delay'] < 0.0].count()

fl_date                   24249
mkt_unique_carrier        24249
branded_code_share        24249
mkt_carrier               24249
mkt_carrier_fl_num        24249
op_unique_carrier         24249
tail_num                  24249
op_carrier_fl_num         24249
origin_airport_id         24249
origin                    24249
origin_city_name          24249
dest_airport_id           24249
dest                      24249
dest_city_name            24249
crs_dep_time              24249
dep_time                  24249
dep_delay                 24249
taxi_out                  24249
wheels_off                24249
wheels_on                 24249
taxi_in                   24249
crs_arr_time              24249
arr_time                  24249
arr_delay                 24249
cancelled                 24249
diverted                  24249
crs_elapsed_time          24249
actual_elapsed_time       24249
air_time                  24249
flights                   24249
distance                  24249
origin_fl_density         24249
dest_fl_density           24249
day                       24249
month                     24249
year                      24249
weekday                   24249
day_of_year               24249
crs_arr_hour              24249
crs_dep_hour              24249
timestamp                 24249
crs_arr_daytime           24249
crs_dep_daytime           24249
predicted_speed_mi/min    24249
actual_speed_mi/min       24249
origin_passengers/mo      24249
dest_passengers/mo        24249
origin_freight/mo         24249
dest_freight/mo           24249
origin_intl_dep/mo        24249
dest_intl_dep/mo          24249
origin_intl_arr/mo        24249
dest_intl_arr/mo          24249
dtype: int64

In [139]:
sm_df.to_csv(path+'mini_sample.csv', index=False)

In [11]:
pass_df = pd.read_csv(path+'passengers.csv')

In [43]:
fl_df.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'origin_fl_density', 'dest_fl_density', 'day', 'month',
       'year', 'weekday', 'day_of_year', 'crs_arr_hour', 'crs_dep_hour',
       'timestamp', 'crs_arr_daytime', 'crs_dep_daytime',
       'predicted_speed_mi/min', 'actual_speed_mi/min', 'origin_passengers/mo',
       'dest_passengers/mo', 'origin_freight/mo', 'dest_freight/mo',
       'origin_intl_dep/mo', 'dest_intl_dep/mo', 'origin_intl_arr/mo',
       'dest_intl_arr/mo'],
      dtype='object')

## Airport size (from num passengers/year)

In [57]:
pass_per_yr_origin_airport = pass_df.groupby(by=['origin_airport_id']).sum().sort_values(by='passengers', ascending=False)

In [135]:
pass_per_yr_origin_airport.passengers.tail()

origin_airport_id
10715    0.0
15676    0.0
10748    0.0
13681    0.0
14646    0.0
Name: passengers, dtype: float64

In [40]:
import numpy as np
small = np.percentile(pass_per_yr_origin_airport, q=78)
small

97729.00000000006

In [45]:
med = np.percentile(pass_per_yr_origin_airport, q=89)
med

1021742.9199999986

In [32]:
lrg = np.percentile(pass_per_yr_origin_airport, q=100)
lrg

257478059.0

In [61]:
airport_size = pass_per_yr_origin_airport

In [85]:
# 1:small, 2:med, 3:lrg, 4, xl
bins = [0, 100000, 1000000, 10000000, 300000000]
labels = [1,2,3,4]
airport_size['size'] = pd.cut(airport_size['passengers'], bins=bins, labels=labels)

<ipython-input-85-d605ecf55d8a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport_size['size'] = pd.cut(airport_size['passengers'], bins=bins, labels=labels)

In [86]:
airport_size = airport_size[['passengers','size']]

In [87]:
fl_df = pd.merge(fl_df, airport_size, left_on=['origin_airport_id'], right_on = ['origin_airport_id'])

In [88]:
fl_df.drop(labels='passengers', axis=1, inplace=True)

In [89]:
fl_df.rename(columns={'size_x': 'origin_airport_size'}, inplace=True)

In [90]:
fl_df = pd.merge(fl_df, airport_size, left_on=['dest_airport_id'], right_on = ['origin_airport_id'])

In [91]:
fl_df[['origin_airport_id','origin_airport_size','dest_airport_id','size_y','passengers']]

,origin_airport_id,origin_airport_size,dest_airport_id,size_y,passengers
0,12478,3,13495,4,30996075.0
1,12478,3,13495,4,30996075.0
2,12478,3,13495,4,30996075.0
3,12478,3,13495,4,30996075.0
4,12478,3,13495,4,30996075.0
...,...,...,...,...,...
446294,14107,3,12343,1,76623.0
446295,12892,3,13832,1,88637.0
446296,14122,3,13832,1,88637.0
446297,13342,3,10562,1,28064.0
446298,13342,3,10590,2,606450.0

In [92]:
fl_df.drop(labels='passengers', axis=1, inplace=True)

In [93]:
fl_df.rename(columns={'size_y': 'dest_airport_size'}, inplace=True)

In [94]:
fl_df.isnull().sum()

fl_date                   0
mkt_unique_carrier        0
branded_code_share        0
mkt_carrier               0
mkt_carrier_fl_num        0
op_unique_carrier         0
tail_num                  0
op_carrier_fl_num         0
origin_airport_id         0
origin                    0
origin_city_name          0
dest_airport_id           0
dest                      0
dest_city_name            0
crs_dep_time              0
dep_time                  0
dep_delay                 0
taxi_out                  0
wheels_off                0
wheels_on                 0
taxi_in                   0
crs_arr_time              0
arr_time                  0
arr_delay                 0
cancelled                 0
diverted                  0
crs_elapsed_time          0
actual_elapsed_time       0
air_time                  0
flights                   0
distance                  0
origin_fl_density         0
dest_fl_density           0
day                       0
month                     0
year                      0
weekday                   0
day_of_year               0
crs_arr_hour              0
crs_dep_hour              0
timestamp                 0
crs_arr_daytime           0
crs_dep_daytime           0
predicted_speed_mi/min    0
actual_speed_mi/min       0
origin_passengers/mo      0
dest_passengers/mo        0
origin_freight/mo         0
dest_freight/mo           0
origin_intl_dep/mo        0
dest_intl_dep/mo          0
origin_intl_arr/mo        0
dest_intl_arr/mo          0
origin_airport_size       0
dest_airport_size         0
size_x                    0
dest_airport_size         0
dtype: int64

In [95]:
fl_df.to_csv(path+'balanced_more_flight_feats2.csv')

## Routes (origin & dest)

## Season

In [101]:
fl_df.month.unique()

array([ 4, 12, 10,  1,  3,  8,  6,  2,  7,  5,  9, 11])

In [110]:
# winter dec-feb, spring march-may, summer june-aug, fall sep-nov
bins = [0, 2, 5, 8, 11]
labels = [1,2,3,4]
fl_df['season'] = pd.cut(fl_df['month'], bins=bins, labels=labels)

In [112]:
fl_df['season'] = fl_df['season'].fillna(1)

In [113]:
fl_df[['season','month']].head()

  season  month
0      2      4
1      2      4
2      2      4
3      1     12
4      1     12

In [114]:
fl_df.to_csv(path+'balanced_more_flight_feats2.csv')

## short medium long haul

In [97]:
# NOTE intervals of 500, label=1 is shortest
bins = [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]
labels = [1,2,3,4,5,6,7,8,9,10,11]
fl_df['dist_group'] = pd.cut(fl_df['distance'], bins=bins, labels=labels)

In [131]:
fl_df[['distance','dist_group']].loc[fl_df['distance'] <= 500]

        distance dist_group
1          224.0          1
2          289.0          1
6          127.0          1
8          317.0          1
9          192.0          1
...          ...        ...
446293     156.0          1
446294     196.0          1
446296     114.0          1
446297     143.0          1
446298     119.0          1

[182398 rows x 2 columns]

In [99]:
fl_df.to_csv(path+'balanced_more_flight_feats2.csv')

## % international

## morning vs. afternoon (ex. after 10am)

In [120]:
fl_df.crs_dep_hour.unique()

array([12,  9, 10, 11,  6, 21, 22, 17, 18,  8, 20, 13, 19,  7, 14, 15, 16,
        5, 23,  0,  1,  2,  4,  3])

In [132]:
# NOTE early morning (before 10am) = 1
bins = [-1, 10, 23]
labels = [1,0]
fl_df['dep_early_morning'] = pd.cut(fl_df['crs_dep_hour'], bins=bins, labels=labels)

In [136]:
fl_df.to_csv(path+'balanced_more_flight_feats2.csv')

## Region