# Feature Engineering of Training Dataset

In [58]:
# import packages
import pandas as pd
import numpy as np
import datetime as dt

In [59]:
# bring in cleaned and balanced flights data, and passengers data
path = '/Users/reneehall/Documents/Learning/lighthouse_labs/coursework-lighthouse-labs/Mid-term project/colab_data/'

fl_df = pd.read_csv(path+'cleaned_balanced_sample.csv')
pass_df = pd.read_csv(path+'cleaned_passengers.csv')

In [60]:
# confirm original shape and columns of flights data
print(fl_df.shape)
fl_df.columns

(600000, 31)

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance'],
      dtype='object')

## Creating Time Based Features

In [61]:
# create time features
fl_df['day'] = pd.to_datetime(fl_df['fl_date']).dt.day
fl_df['month'] = pd.to_datetime(fl_df['fl_date']).dt.month
fl_df['year'] = pd.to_datetime(fl_df['fl_date']).dt.year
fl_df['weekday'] = pd.to_datetime(fl_df['fl_date']).dt.weekday
fl_df['day_of_year'] = pd.to_datetime(fl_df['fl_date']).dt.strftime('%j')
fl_df['timestamp'] = pd.to_datetime(fl_df['fl_date']).map(dt.datetime.toordinal)

In [62]:
# create arr_hour and dep_hour columns and clean
fl_df['crs_arr_hour'] = fl_df['crs_arr_time'].astype('str').str[:-2]
fl_df['crs_arr_hour'] = fl_df.crs_arr_hour.replace('', 0)
fl_df['crs_arr_hour'] = fl_df.crs_arr_hour.astype('int')

fl_df['crs_dep_hour'] = fl_df['crs_dep_time'].astype('str').str[:-2]
fl_df['crs_dep_hour'] = fl_df.crs_dep_hour.replace('', 0)
fl_df['crs_dep_hour'] = fl_df.crs_dep_hour.astype('int')

In [63]:
# arrival and departure during daytime
fl_df['crs_arr_daytime'] = (fl_df['crs_arr_hour'] > 6) & (fl_df['crs_arr_hour'] < 18)

fl_df['crs_dep_daytime'] = (fl_df['crs_dep_hour'] > 6) & (fl_df['crs_dep_hour'] < 18)

In [64]:
# create season category
# winter: dec-feb, spring: march-may, summer: june-aug, fall: sep-nov
bins = [0, 2, 5, 8, 11]
labels = [1,2,3,4]
fl_df['season'] = pd.cut(fl_df['month'], bins=bins, labels=labels)

# binning didn't allow for dec-feb (12,1,2) so december/season was filled with np.nan
# fill december/season with 1
fl_df['season'] = fl_df['season'].fillna(1)

In [65]:
# morning vs not morning flights
# NOTE early morning (before 10am) = 1
bins = [-1, 10, 23]
labels = [1,0]
fl_df['dep_early_morning'] = pd.cut(fl_df['crs_dep_hour'], bins=bins, labels=labels)

## Flight Volume Features

In [66]:
# create origin airport daily scheduled flights
origin_daily_flights = fl_df.groupby(by=['fl_date', 'origin_airport_id']).flights.count().sort_values(ascending=False)

# join on date and origin_airport_id
fl_df = pd.merge(fl_df, origin_daily_flights, left_on=['fl_date','origin_airport_id'], right_on = ['fl_date','origin_airport_id'])
fl_df.rename(columns={'flights_y': 'origin_fl_density'}, inplace=True)

In [67]:
# create desination airport daily scheduled flights
dest_daily_flights = fl_df.groupby(by=['fl_date', 'dest_airport_id']).flights_x.count().sort_values(ascending=False)

# join on date and origin_airport_id
fl_df = pd.merge(fl_df, dest_daily_flights, left_on=['fl_date','dest_airport_id'], right_on = ['fl_date','dest_airport_id'])
fl_df.rename(columns={'flights_x_x': 'flights', 'flights_x_y': 'dest_fl_density'}, inplace=True)

## Speed and Distance Features

In [68]:
# predicted speed
fl_df['predicted_speed'] = fl_df['distance']/fl_df['crs_elapsed_time']

In [69]:
# create flight distance categories
# NOTE intervals of 500, label=1 is shortest
bins = [0, 500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]
labels = [1,2,3,4,5,6,7,8,9,10,11]
fl_df['dist_group'] = pd.cut(fl_df['distance'], bins=bins, labels=labels)

## Airport and Size Features

In [70]:
# create category for different airport sizes by passenger volume
airport_size = pass_df.groupby(by=['origin_airport_id']).sum().sort_values(by='passengers', ascending=False)

# 1: small, 2: med, 3: lrg, 4, xl
bins = [0, 100000, 1000000, 10000000, 300000000]
labels = [1,2,3,4]
airport_size['size'] = pd.cut(airport_size['passengers'], bins=bins, labels=labels)

airport_size = airport_size[['passengers','size']]

In [71]:
# merge sizes into airport table
# by origin airport
fl_df = pd.merge(fl_df, airport_size, left_on=['origin_airport_id'], right_on = ['origin_airport_id'])
fl_df.drop(labels='passengers', axis=1, inplace=True)
fl_df.rename(columns={'size': 'origin_airport_size'}, inplace=True)

# by destination airport
fl_df = pd.merge(fl_df, airport_size, left_on=['dest_airport_id'], right_on = ['origin_airport_id'])
fl_df.drop(labels='passengers', axis=1, inplace=True)
fl_df.rename(columns={'size': 'dest_airport_size'}, inplace=True)

In [72]:
# the total passengers passing through origin airport per month
pass_per_mo_origin_airport = pass_df.groupby(by=['origin_airport_id','month']).passengers.sum().sort_values(ascending=False)
fl_df = pd.merge(fl_df, pass_per_mo_origin_airport, how='left', left_on=['origin_airport_id','month'], right_on = ['origin_airport_id','month'])
fl_df.rename(columns={'passengers': 'origin_num_passengers'}, inplace=True)

In [73]:
# there are a few airports not in passenger table will fill with means
fl_df[['origin_airport_id','origin_airport_size','origin_num_passengers']][fl_df.isna().any(axis=1)]

        origin_airport_id origin_airport_size  origin_num_passengers
25189               16869                   1                    NaN
38015               15897                   1                    NaN
75307               15897                   1                    NaN
108968              15897                   1                    NaN
108969              15897                   1                    NaN
130640              16869                   1                    NaN
152339              16869                   1                    NaN
154388              16869                   1                    NaN
186029              10643                   1                    NaN
220640              10643                   1                    NaN
220664              15897                   1                    NaN
220665              15897                   1                    NaN
250957              10643                   1                    NaN
268436              15897                   1                    NaN
342478              10643                   1                    NaN
342489              15897                   1                    NaN
370215              10643                   1                    NaN
394167              16869                   1                    NaN
420523              15897                   1                    NaN
432278              15897                   1                    NaN
437248              15897                   1                    NaN
442215              15897                   1                    NaN
442216              15897                   1                    NaN
454748              15897                   1                    NaN
460103              16869                   1                    NaN
498598              15897                   1                    NaN
500967              16869                   1                    NaN
517995              15897                   1                    NaN
551503              16869                   1                    NaN
568824              15897                   1                    NaN
571603              15897                   1                    NaN

In [74]:
# all missing values are from airport size one
# calculate size 1 mean and fill nan values
size_1_mean = fl_df.loc[fl_df['origin_airport_size'] == 1].origin_num_passengers.mean()
fl_df['origin_num_passengers'] = fl_df['origin_num_passengers'].fillna(value=size_1_mean)

In [76]:
# the total passengers passing through destination airport per month
pass_per_mo_dest_airport = pass_df.groupby(by=['dest_airport_id','month']).passengers.sum().sort_values(ascending=False)
fl_df = pd.merge(fl_df, pass_per_mo_dest_airport, how='left', left_on=['dest_airport_id','month'], right_on = ['dest_airport_id','month'])
fl_df.rename(columns={'passengers': 'dest_num_passengers'}, inplace=True)

In [78]:
# there are a few airports not in passenger table will fill with means
fl_df[['dest_airport_id','dest_airport_size','dest_num_passengers']][fl_df.isna().any(axis=1)]

        dest_airport_id dest_airport_size  dest_num_passengers
596542            15897                 1                  NaN
596543            15897                 1                  NaN
596545            15897                 1                  NaN
596546            15897                 1                  NaN
596547            15897                 1                  NaN
596548            15897                 1                  NaN
596549            15897                 1                  NaN
596550            15897                 1                  NaN
596551            15897                 1                  NaN
596553            15897                 1                  NaN
596554            15897                 1                  NaN
596556            15897                 1                  NaN
596557            15897                 1                  NaN
596560            15897                 1                  NaN
596561            15897                 1                  NaN
596562            15897                 1                  NaN
596563            15897                 1                  NaN
599531            16869                 1                  NaN
599533            16869                 1                  NaN
599535            16869                 1                  NaN
599536            16869                 1                  NaN
599538            16869                 1                  NaN
599540            16869                 1                  NaN
599541            16869                 1                  NaN
599542            16869                 1                  NaN
599543            16869                 1                  NaN
599545            16869                 1                  NaN
599546            16869                 1                  NaN
599548            16869                 1                  NaN
599549            16869                 1                  NaN
599975            10643                 1                  NaN
599976            10643                 1                  NaN
599982            10643                 1                  NaN
599985            10643                 1                  NaN

In [79]:
# again, all missing values are from airport size one, fill with sz.1 mean
size_1_mean = fl_df.loc[fl_df['dest_airport_size'] == 1].dest_num_passengers.mean()
fl_df['dest_num_passengers'] = fl_df['dest_num_passengers'].fillna(value=size_1_mean)

In [81]:
# the total freight handled per month by origin airport
origin_mo_freight = pass_df.groupby(by=['origin_airport_id','month']).freight.sum().sort_values(ascending=False)
fl_df = pd.merge(fl_df, origin_mo_freight, how='left', left_on=['origin_airport_id','month'], right_on = ['origin_airport_id','month'])
fl_df.rename(columns={'freight': 'origin_num_freight'}, inplace=True)

In [83]:
# there are a few airports not in passenger table will fill with freight means
fl_df[['dest_airport_id','dest_airport_size','dest_num_passengers']][fl_df.isna().any(axis=1)]

        dest_airport_id dest_airport_size  dest_num_passengers
25189             11292                 4           13862688.0
38015             12953                 4            6305561.0
75307             13930                 4           15773756.0
108968            10397                 4           21126951.0
108969            10397                 4           22197627.0
130640            14747                 4           10866897.0
152339            13198                 4            2542075.0
154388            10140                 4            1167028.0
186029            11057                 4            9822201.0
220640            11298                 4           13757687.0
220664            11298                 4           13436387.0
220665            11298                 4           13127044.0
250957            11278                 4            4993868.0
268436            11003                 3             209378.0
342478            12266                 4            8924625.0
342489            12266                 4            8246291.0
370215            13232                 4            3282786.0
394167            14100                 4            7278547.0
420523            12478                 4            9598210.0
432278            14761                 3             546327.0
437248            10423                 4            3021591.0
442215            14831                 4            2667147.0
442216            14831                 4            2090546.0
454748            14057                 4            2988924.0
460103            14307                 3             840880.0
498598            11042                 4            1792675.0
500967            11540                 3             694314.0
517995            10792                 4            1044855.0
551503            10257                 3             618392.0
568824            15323                 3              82498.0
571603            13277                 2              59845.0

In [85]:
# need freight means for sizes 4
size_4_fmean = fl_df.loc[fl_df['origin_airport_size'] == 4].origin_num_freight.mean()

In [90]:
# fill nan's with mean
fl_df['origin_num_freight'] = fl_df['origin_num_freight'].fillna(value=size_4_fmean)

In [92]:
# the total freight handled per month by destination airport
dest_mo_freight = pass_df.groupby(by=['dest_airport_id','month']).freight.sum().sort_values(ascending=False)
fl_df = pd.merge(fl_df, dest_mo_freight, how='left', left_on=['dest_airport_id','month'], right_on = ['dest_airport_id','month'])
fl_df.rename(columns={'freight': 'dest_num_freight'}, inplace=True)

In [94]:
# again, replacing freight nans
fl_df['dest_num_freight'] = fl_df['dest_num_freight'].fillna(value=size_4_fmean)

## Airport and Carrier Aggregation Features

In [96]:
# mean arrival delay by carrier
op_carrier_mean_delay = fl_df.groupby(by=['op_unique_carrier']).arr_delay.mean().sort_values(ascending=False)
fl_df = pd.merge(fl_df, op_carrier_mean_delay, left_on=['op_unique_carrier'], right_on = ['op_unique_carrier'])

fl_df.rename(columns={'arr_delay_y': 'mean_op_carrier_delay'}, inplace=True)
fl_df.rename(columns={'arr_delay_x': 'arr_delay'}, inplace=True)

In [97]:
# mean arrival delay by airport
# calculate mean delays
origin_airport_mean_delay = fl_df.groupby(by=['origin_airport_id']).arr_delay.mean()

# match origin airport mean delay
fl_df = pd.merge(fl_df, origin_airport_mean_delay, left_on=['origin_airport_id'], right_on = ['origin_airport_id'])
fl_df.rename(columns={'arr_delay_x': 'arr_delay'}, inplace=True)
fl_df.rename(columns={'arr_delay_y': 'mean_delay_origin_airport'}, inplace=True)

# match delays of destination airports
fl_df = pd.merge(fl_df, origin_airport_mean_delay, left_on=['dest_airport_id'], right_on = ['origin_airport_id'])
fl_df.rename(columns={'arr_delay_x': 'arr_delay'}, inplace=True)
fl_df.rename(columns={'arr_delay_y': 'mean_delay_dest_airport'}, inplace=True)

In [98]:
# mean monthly arrival delay by airport
# calculate mean
origin_airport_mo_mean_delay = fl_df.groupby(by=['origin_airport_id', 'month']).arr_delay.mean()

# match mean to origin airports
fl_df = pd.merge(fl_df, origin_airport_mo_mean_delay, how='left', left_on=['origin_airport_id','month'], right_on = ['origin_airport_id', 'month'])
fl_df.rename(columns={'arr_delay_x': 'arr_delay'}, inplace=True)
fl_df.rename(columns={'arr_delay_y': 'mean_mo_delay_origin_airport'}, inplace=True)

In [99]:
# mean departure delay by airport
origin_mean_dep_delay = fl_df.groupby(by=['origin_airport_id']).dep_delay.mean()

# match dep delay for origins
fl_df = pd.merge(fl_df, origin_mean_dep_delay, left_on=['origin_airport_id'], right_on = ['origin_airport_id'])
fl_df.rename(columns={'dep_delay_x': 'dep_delay'}, inplace=True)
fl_df.rename(columns={'dep_delay_y': 'mean_dep_delay_origin'}, inplace=True)

# match dep delay for destinations
fl_df = pd.merge(fl_df, origin_mean_dep_delay, left_on=['dest_airport_id'], right_on = ['origin_airport_id'])
fl_df.rename(columns={'dep_delay_x': 'dep_delay'}, inplace=True)
fl_df.rename(columns={'dep_delay_y': 'mean_dep_delay_dest'}, inplace=True)

In [100]:
# calculate the ratio of the arrival delay that can be accounted for by the departure delay

# create a few columns to be used in aggregations
# percent of arrival accounted for by departure delay for each flight
fl_df['percent_delay_dep'] = (fl_df['dep_delay']/(fl_df['dep_delay'] + fl_df['arr_delay']))
# fix some value errors caused by zero division
fl_df['percent_delay_dep'] = fl_df['percent_delay_dep'].fillna(0.0)
fl_df['percent_delay_dep'] = fl_df['percent_delay_dep'].replace([np.inf, -np.inf], 0.0)
# ratio of arrival delay to predictedflight time
fl_df['delay_time_ratio'] = fl_df['arr_delay']/fl_df['crs_elapsed_time']

# delay:flight time ratio averaged by distance group
delay_types = fl_df.groupby(by=['dist_group']).delay_time_ratio.mean()
fl_df = pd.merge(fl_df, delay_types, left_on=['dist_group'], right_on = ['dist_group'])
fl_df.rename(columns={'delay_time_ratio_y': 'dist_group_delay_ratio'}, inplace=True)
fl_df.drop(labels=['delay_time_ratio_x'],axis=1, inplace=True)

# percent_dep_delay grouped by carrier & airport
per_dep_delay = fl_df.groupby(by=['op_unique_carrier', 'origin_airport_id']).percent_delay_dep.mean().sort_values()
fl_df = pd.merge(fl_df, per_dep_delay, how='left',left_on=['origin_airport_id','op_unique_carrier'], right_on = ['origin_airport_id','op_unique_carrier'])
fl_df.rename(columns={'percent_delay_dep_x_y': 'ap_carr_percent_dep_delay'}, inplace=True)
fl_df.rename(columns={'percent_delay_dep_x_x': 'percent_dep_delay'}, inplace=True)

In [101]:
# percent of flights delayed by distance group
dist_group_df = fl_df[['dist_group', 'flights']].groupby(by=['dist_group']).count()
dist_group_df['delayed'] = fl_df.loc[fl_df['arr_delay'] > 0.0].groupby(by=['dist_group']).flights.count()
dist_group_df['percent_delayed'] = dist_group_df.delayed/dist_group_df.flights * 100
fl_df = pd.merge(fl_df, dist_group_df['percent_delayed'], left_on=['dist_group'], right_on = ['dist_group'])
fl_df.rename(columns={'percent_delayed': 'dist_group_percent_delayed'}, inplace=True)

## Check Shape and Null Values

In [102]:
# confirm same number of rows
fl_df.shape

(600000, 63)

In [103]:
# check for null values
fl_df.isnull().sum().sort_values().tail()

crs_elapsed_time              0
actual_elapsed_time           0
air_time                      0
dep_time                      0
dist_group_percent_delayed    0
dtype: int64

In [55]:
# save to csv 
fl_df.to_csv(path+'balanced_more_flight_feats.csv', index=False)

In [56]:
# create smaller 50,000 row set for ease of modeling
sm_df = fl_df.sample(50000, random_state=26)
sm_df.to_csv(path+'mini_sample.csv', index=False)